.post{
  margin-left: 20px;
  margin-bottom: 20px;
  width: 300px;
  &__title{
    margin-bottom: 10px;
    word-wrap: break-word;
    height: 20px;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
  }
  &__text{
    margin-bottom: 10px;
    word-wrap: break-word;
    background-color: aliceblue;
    border-width: 1px;
    overflow: hidden;
    padding: 3px;
    height: 100px;
  }
  &__button{
    width: 100%;
    border-radius: 5px;
    background-color: #90d9ef;
    border: black;
    padding: 5px;
    border-width: thin;
    border-style: outset;
    cursor: pointer;
    &__text{
      text-decoration: none;
      color: black;
    }

  }
}